[Unit]
Description=ReceiptFocus

[Service]
Type=simple
ExecStart=/home/%u/receiptfocus/.venv/bin/python3 /home/%u/receiptfocus/main.py
Restart=always

[Install]
WantedBy=default.target