@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: Lato;
}

.form {
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #04AA6D;;
    background-color:  #f2f2f2;
    padding: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
  min-width: 48%;
  margin-bottom: 10px;
}

input[type=text], input[type=date], select {
  min-width: 45%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

input[type=text]:focus, input[type=date]:focus, select:focus {
  border: 3px solid #04AA6D;
  outline: none;
}

input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: right;
}

input[type=checkbox] {
    min-width: 45%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}

@media screen and (max-width: 600px) {
  label,
  input[type=text],
  input[type=submit],
  select, textarea {
    flex: 100%;
    min-width: 100%;
  }
}