<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <h1>ReceiptFocus</h1>
        <div class="form">
            <form method="post">
                <label for="task">Aufgabe:</label>
                <input type="text" name="task" required>

                <label for="date">Bis:</label>
                <input type="date" name="date">
                <label for="next_date">Nächstes Datum</label>
                <input type="checkbox" name="next_date">

                <label for="subject">Fach:</label>
                <select name="subject" required>
                    <option value="Mathe">Mathe</option>
                    <option value="Deutsch">Deutsch</option>
                    <option value="Englisch">Englisch</option>
                    <option value="Französisch">Französisch</option>
                    <option value="Kunst">Kunst</option>
                    <option value="Politik">Politik</option>
                    <option value="Chemie">Chemie</option>
                    <option value="Religion">Religion</option>
                    <option value="Physik">Physik</option>
                    <option value="Erdkunde">Erdkunde</option>
                    <option value="Geschichte">Geschichte</option>
                </select>

                <label for="info">Mehr Infos:</label>
                <input type="text" name="info">
                
                <input type="submit" name="submit" value="Drucken!">
            </form>
        </div>
    </body>
</html>