<h1>ReceiptFocus</h1>

<form method="post">
    <label for="task">Aufgabe:</label>
    <input type="text" name="task" required><br>

    <label for="date">Bis:</label>
    <input type="date" name="date">
    <b>oder</b>
    <label for="next_date">Nächstes Datum</label>
    <input type="checkbox" name="next_date"><br>

    <label for="subject">Fach:</label>
    <select name="subject" required>
        <option value="Mathe">Mathe</option>
        <option value="Deutsch">Deutsch</option>
        <option value="Englisch">Englisch</option>
        <option value="Französisch">Französisch</option>
        <option value="Kunst">Kunst</option>
        <option value="Politik">Politik</option>
    </select><br>

    <label for="info">Mehr Infos:</label>
    <input type="text" name="info"><br>

    <button type="submit">Bestätigen</button>
</form>